/* form */
label{
    display:block;
    font-size:1rem;
    font-family: inherit;
    margin-bottom:1.2rem;
}
input{
    width:100%;
    border:none;
    padding:0.8rem;
    font-size:0.9rem;
    
    border-radius: 1rem;
    box-shadow:0 1px 2px rgba(0,0,0,0.1);
}

select{
    width:100%;
    border:none;
    padding:0.8rem;
    font-size:0.9rem;
    
    border-radius: 1rem;
    box-shadow:0 1px 2px rgba(0,0,0,0.1);
}
.message-box>input{
    height:20vh;
}


/* strcuture */
#contact{
    max-width:1400px;
    height:95vh;
    margin:auto;
    display:flex;
    background-color: #fefae0cc;
    border-radius: 1rem;
    margin-top:5rem;
    margin-bottom: 5rem;
}
.contact-left{
    width:60%;
    padding:3rem;
}
.contact-left h4{
    font-size:1.6rem;
}
.contact-left>div{
    padding:2rem 0;
}
.contact-right{
    width:40%;
    padding:3rem;
    background-color:#283618;
    border-radius: 1rem;
}

.contact-left1{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    gap:4rem;
}
.contact-left1>div{
    width:38%;
}
.contact-left2{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    gap:4rem;
}
.contact-left2>div{
    width:38%;
}
/* right */
.contact-right{
    width:40%;
    padding:3rem;
    background-color:#283618;
    border-radius: 1rem;
    line-height: 4rem;
}
.contact-right h4{
    color:#fefae0;
    font-size: 1.6rem;
}
.contact-right p{
    color:#fefae0;
    font-size: 1.2rem;
}
.contact-right>div{
    width:100%;
    display:grid;
    grid-template-columns: 30% 70%;
}
/* btu */
.sub-btu>h4{
    width:20%;
    text-align: center;
    padding:1rem;
    border:1px solid #283618;
    border-radius: 1rem;
}

.sub-btu>h4:hover {
    background-color: #283618;
    color:#fefae0;
}