*{
  box-sizing: border-box;
}

p{

}
nav{
  margin:1rem;
}
.main-navigation a{
  font-size: 1rem;
  /* border:1px solid black; */
  text-decoration: none;
  margin:1rem;
  color:black;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom:.25rem;
}

.main-navigation a:hover{
  border-bottom: 3px solid black;
}

.modtext{
  padding-top: 1rem;
  /* border: 1px solid black; */
  font-size: 2.3rem;
  width:77%;

}

.cardRepo{
  background-color: blue;
  padding:1rem;
  display:grid;
  grid-template-columns: 1fr;
  grid-gap:20px;
}

.card{
  background:white;
  padding:1rem;
  border-radius: 2px;
}

.item-1 p{
  max-width:500px;
}
.encPicture{
  background-color: pink;
}

.enc{
  border: 1px solid black;
}

.wrapper{
  display:flex;
  /* margin:2rem; */
  padding:2rem;
  background-color: green;
  /* border-radius:23px; */
}

.encwrapper{
  background-color:purple;
  display:grid;
  grid-template-columns: 1fr;
  grid-gap:1rem;
}

#gridtext{
  flex:0 0 65%;
  padding:1rem;
}

#gridimg{
  flex:1;
}

#tcm{
  display:none;
}

.responsiveimg{
  max-width:1000px;
  width:100%;
  height:auto;
  /* border-radius:23px; */
}

.toggle{
  padding:1rem;
}

@media only screen and (min-width:500px){
  .cardRepo{
    grid-template-columns: 1fr 1fr;
  }

  .item-1{
    grid-column: 1/ span 3;
  }

  .item-4{
    grid-column: 2/ span 2;
  }

}

@media only screen and (min-width:850px){
  .cardRepo{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
