*{
  box-sizing: border-box;
  font-family: 'Domine', serif;
  font-weight: 400;
}

p{

}
nav{
  margin:1rem;
}
.main-navigation a{
  font-size: 1rem;
  /* border:1px solid black; */
  text-decoration: none;
  margin:1rem;
  color:black;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom:.25rem;
}

.main-navigation a:hover{
  border-bottom: 3px solid black;
}

.modtext{
  padding-top: 1rem;
  /* border: 1px solid black; */
  font-size: 2.3rem;
  width:77%;

}

.cardRepo{
  /* background-color: blue; */
  padding:1rem;
  display:grid;
  grid-template-columns: 1fr;
  grid-gap:20px;
  width:100%;
}
.cardPic{
  background-color: pink;
}
.card{
  background:white;
  padding:1rem;
  border-radius: 2px;
}

.card:hover {
  filter:brightness(130%);
  outline: 2px black solid;
  outline-offset: -10px;
}

.item-1 p{
  max-width:500px;
}


.enc{
  border: 1px solid black;
}

.scrollMarq{
  width:100vw;
  overflow:hidden;
  /**/
}

.scrolling-text{
  border:1px solid black;

  padding:-.5rem;
display:inline-block;
transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
will-change:transform;
backface-visibility: hidden;
}

.scrolling-text .scrolling-text-content{
  white-space: nowrap;
  font-size:5rem;
  line-height:.2rem;
  transition: transform cubbic-bezier(0.23, 0.36, 0.28, 0.83);
  margin:50px 0;
}

.wrapper{
  display:flex;
  /* margin:2rem; */
  padding:2rem;
  /* background-color: green; */
  /* border-radius:23px; */
}

.encWrapper{
  display:grid;
  grid-template-columns: 1fr .5fr;
  /* grid-gap:1rem; */
}

#gridtext{
  flex:0 0 65%;
  padding:1rem;
}

#gridimg{
  flex:1;
}

#tcm{
  display:none;
}

.responsiveimg{
  max-width:1000px;
  width:100%;
  height:auto;
  /* border-radius:23px; */
}

.toggle{
  padding:1rem;
}

.toggle button{
  float:left;
  border:none;
  font-size:1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  background-color:white;
  padding: 2rem 2rem 0rem 1rem;
}

.toggle button:hover{
  border-bottom: 3px solid black;
}

.ourstory{
  margin: auto;
  display:grid;
grid-template-columns: 1fr;
}
.story{
  margin:auto;
  border:1px solid black;
  width:50rem;
  padding-left:1rem;
}
/* for screens BIGGER than 500px */
@media only screen and (min-width:500px){
  .cardRepo{
    margin:1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
.cardPic{
  margin: 1rem;
  background-color: blue;
}
}

@media only screen and (max-width:300px){
  .cardRepo{
    grid-template-columns: 1fr 1fr;
  }
  .cardPic{
    background-color: pink;
  }
/*  */
}
