*{
  box-sizing: border-box;
}

p{

}
nav{
  margin:1rem;
}
.main-navigation a{
  font-size: 1rem;
  /* border:1px solid black; */
  text-decoration: none;
  margin:1rem;
  color:black;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom:.25rem;
}

.main-navigation a:hover{
  border-bottom: 3px solid black;
}

.modtext{
  padding-top: 1rem;
  /* border: 1px solid black; */
  font-size: 2.3rem;
  width:77%;

}

.wrapper{
  display:flex;
  /* margin:2rem; */
  padding:2rem;
  background-color: green;
  /* border-radius:23px; */
}

#gridtext{
  flex:0 0 65%;
  padding:1rem;
}

#gridimg{
  flex:1;
}

.responsiveimg{
  max-width:1000px;
  width:100%;
  height:auto;
  /* border-radius:23px; */
}
